---
import Section from '@/components/Sections.astro'
import { basics } from '@cv'
const { summary } = basics
---

<Section title="Sobre mí" tabindex="0">
<p tabindex="0">
    {summary}
</p>
</Section>